<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="hvl.plugin.parmorel.commands.category"
            name="Rapairing">
      </category>
      <command
            categoryId="hvl.plugin.parmorel.commands.category"
            id="hvl.plugin.parmorel.commands.repairCommand"
            name="Repair Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hvl.plugin.parmorel.handlers.RepairHandler"
            commandId="hvl.plugin.parmorel.commands.repairCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hvl.plugin.parmorel.commands.repairCommand"
               icon="icons/bandage.png"
               label="Repair"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="ecore">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="parmorel"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="hvl.plugin.parmorel.morelrepair"
            class="hvl.plugin.parmorel.views.ModelRepairView"
            icon="icons/parmorel.png"
            id="hvl.plugin.parmorel.views.ModelRepairView"
            name="Model Repair"
            restorable="true">
      </view>
      <category
            id="hvl.plugin.parmorel.morelrepair"
            name="Model Repair">
      </category>
   </extension>

</plugin>
