<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="hvl.plugin.parmorel.commands.category"
            name="Rapairing">
      </category>
      <command
            categoryId="hvl.plugin.parmorel.commands.category"
            id="hvl.plugin.parmorel.commands.repairCommand"
            name="Repair Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hvl.plugin.parmorel.handlers.RepairHandler"
            commandId="hvl.plugin.parmorel.commands.repairCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/parmorel.png"
               id="hvl.plugin.parmorel.menues.main"
               label="Parmorel">
            <command
                  commandId="hvl.plugin.parmorel.commands.repairCommand"
                  icon="icons/bandage.png"
                  label="Repair"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="ecore">
                  </test>
               </iterate>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="hvl.plugin.parmorel.modelrepair"
            class="hvl.plugin.parmorel.views.ModelRepairView"
            icon="icons/parmorel.png"
            id="hvl.plugin.parmorel.views.ModelRepairView"
            name="Model Repair"
            restorable="true">
      </view>
      <category
            id="hvl.plugin.parmorel.modelrepair"
            name="Model Repair">
      </category>
      <view
            category="hvl.plugin.parmorel.modelrepair"
            class="hvl.plugin.parmorel.views.RepairSelectorView"
            icon="icons/parmorel.png"
            id="hvl.plugin.parmorel.views.RepairSelectorView"
            inject="true"
            name="Select solution">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="hvl.plugin.parmorel.views.RepairSelectorView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.epsilon.ecl.tools.textcomparison.simmetrics.SimMetricsTool"
            defaultName="SimMetricsTool">
      </tool>
   </extension>

</plugin>
